
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigBox{
    margin-top: 25vh;
}
.bigBox h1{
    font-size: 24pt;
    text-align: center;
}

.plantListBox{
    display: flex;

}
.plantList{
    background-color: rgb(172, 172, 172);
    width: 150px;
    margin: 15px;
    padding: 5px;
}

.plantList img{
    width: 100%;
    height: 100%;
    margin: 5px;
}